<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.17/css/aui.min.css" media="all">
    <script src="https://ac-getting-started.atlassian.net/atlassian-connect/all.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.17/js/aui.min.js"></script>
  </head>
  <body class="aui-page-focused aui-page-focused-xlarge">
    <div id="page">
      <section id="content">
        <header class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <h2>Enter your tasks here</h2>
              <input type="textbox" id="txt1" />
                <input type="button" value="Add List" onclick="addList('ToDoListTable')" />
                <input type="button" value="Delete List" onclick="deleteList('ToDoListTable')" />
                <table id="ToDoListTable" width="350px" border="1">
                </table>
                Total Work pending <a id="pTotal"></a>               
              
            </div>
          </div>
        </header>
      </section>
    </div>
  <script src="{{furl '/js/addon.js'}}"></script>
  </body>
</html>
